.client-quotes {
  height: 53px;
  max-width: 345px;
  width: 100%;
  //   margin: 0 auto -67px;
  //   background-color: burlywood;

  h2 {
    font-family: "proxima-nova", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    border-bottom: 2px solid black;
  }
}
